<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <form method="POST" action="/update/{{employee.eid}}">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Update Details</h3>
            </p>
        </div>
        <!-- <div>
            <p>Employee Id:</p>
            <div>
                <input type="text" name="eid" value="{{employee.eid}}" />
            </div>
        </div> -->
        <div>
            <p>Application:</p>
            <div>
                <input type="text" name="application" value="{{employee.application}}" />
            </div>
        </div>
        <div>
            <p>Valuation :</p>
            <div>
                <input type="text" name="valuation" value="{{employee.valuation}}" />
            </div>
        </div>
        <div>
            <p>Budget:</p>
            <div>
                <input type="text" name="budget" value="{{employee.budget}}" />
            </div>
        </div>
        <div>
            <br>
            <button type="submit">Update</button>
        </div>
    </form>
</body>

</html>